.header {
    display: flex;
    padding: 10px;
}

.header .title {
    display: flex;
}

.header .title .text {
    color: cadetblue;
    font-size: 14px;
    font-weight: bold;
}

.header .title .counter {
    margin-left: 20px;
    font-size: 14px;
}

.header .actions {
    display: flex;
    font-size: 10px;
    margin-left: auto;
}

.header .actions .views {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .actions .views>div {
    color: grey;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
}

.header .actions .views .active {
    color: cadetblue;
    font-weight: bold;
}

.header .actions .search {
    display: flex;
    align-items: center;
}
.header .actions .search>div {
    display: flex;
    align-items: center;
    border-width: 1px;
    border-color: gray;
    border-radius: 10px;
    border-style: solid;
    padding: 3px;
    background-color: lightgrey;
}
.header .actions .search .input {
}
.header .actions .search .icon {
    width: 20px;
    height: 20px;
    background-image: url(../images/search1.png);
    background-repeat: no-repeat;
}
.header .actions .search input {
    border-width: 0px;
    background-color: lightgrey;
}